{{define "actor"}}
<!DOCTYPE html>
<html lang="en">
{{template "actor_head" .}}

<body>
	{{template "actor_header" .}}

	<!-- user profile -->
	<article style="max-width:800px;">
		<div style="position:relative;margin-bottom:50px;">
			<img src="{{.Banner}}" alt="{{.DisplayName}}'s banner" style="position:relative;aspect-ratio:3/1;max-width:100%;">
			<img src="{{.Avatar}}" alt="{{.DisplayName}}'s avatar"
				style="width:100px;height:100px;border-radius:50%;position:absolute;left:10px;bottom:-45px;">
		</div>
		<h1 style="margin-bottom:0;">{{.DisplayName}}</h1>
		<p style="margin:auto 0;" class="handle">@{{.Handle}}</p>
		<p style="margin:10px 0;" class="counts"><b>{{.FollowersCount}}</b> followers <b>{{.FollowsCount}}</b> following
			<b>{{.PostsCount}}</b> posts
		</p>
		<p style="white-space:pre-line">{{.DescriptionHTML}}</p>
	</article>

	<hr>

	<div id="feed">
		{{range .Feed}}
		{{if ne .Post.Author.DID $.DID}}
		<p style="margin:0;margin-left:60px;margin-bottom:5px;" class="repost"><b>Reposted by <a
					href="/profile/{{$.Handle}}">{{$.DisplayName}}</a></b></p>
		{{end}}
		{{template "feed_post" .}}
		{{end}}
	</div>
</body>

</html>
{{end}}

{{template "actor" .}}