{{define "actor"}}
<!DOCTYPE html>
<html>
{{template "actor_head" .}}

<body>
	{{template "actor_header" .}}

	<!-- user profile -->
	<table>
		<tr>
			<td>
				<img src="{{.Avatar}}" alt="{{.DisplayName}}'s avatar" width="65" height="65">
			</td>
			<td>
				<h1 style="margin:0;">{{.DisplayName}}</h1>
				<span>@{{.Handle}}</span>
			</td>
		</tr>
	</table>

	<p>
		<b>{{.FollowersCount}}</b> followers
		<b>{{.FollowsCount}}</b> following
		<b>{{.PostsCount}}</b> posts
	</p>
	<p>{{.DescriptionHTML}}</p>

	<hr>

	<div id="feed">
		{{range .Feed}}
		{{if ne .Post.Author.DID $.DID}}
		<span><b>Reposted by <a href="/profile/{{$.Handle}}">{{$.DisplayName}}</a></b></p>
			{{end}}
			{{template "feed_post" .}}
			{{end}}
	</div>
</body>

</html>
{{end}}

{{template "actor" .}}