{{define "external_embed"}}
{{if .Post.Embed}}
{{if eq .Post.Embed.Type "app.bsky.embed.external#view"}}
<a href="{{.Post.Embed.External.URI}}" style="color:inherit;text-decoration:none;">
  <article style="max-width:600px;padding:10px;border: 1px solid;">
    {{if .Post.Embed.External.Thumb}}<img src="{{.Post.Embed.External.Thumb}}" alt="External Embed image">{{end}}
    {{if .Post.Embed.External.Title}}
    <h3 style="text-overflow: ellipsis;">{{.Post.Embed.External.Title}}</h3>
    <p>{{.Post.Embed.External.Description}}</p>
    {{else}}
    <h3>{{.Post.Embed.External.URI}}</h3>
    {{end}}
  </article>
</a>
{{end}}
{{end}}
{{end}}
