{{define "actor_header"}}
<header>
  <a href="https://bsky.app/profile/{{.DID}}"><span style="float:right;">View on Bluesky</span></a>
  <a href="/"><span style="float:left;">HTMLsky</span></a>
  <hr style="clear:both;">
</header>
{{end}}

{{define "thread_header"}}
<header>
  <a href="https://bsky.app/profile/{{.Post.Author.DID}}/post/{{.Post.RKey}}/"><span style="float:right;">View on
      Bluesky</span></a>
  <a href="/"><span style="float:left;">HTMLsky</span></a>
  <hr style="clear:both;">
</header>
{{end}}

{{define "list_header"}}
<header>
  <a href="https://bsky.app/profile/{{.Creator.DID}}/lists/{{.RKey}}/"><span style="float:right;">View on
      Bluesky</span></a>
  <a href="/"><span style="float:left;">HTMLsky</span></a>
  <hr style="clear:both;">
</header>
{{end}}