{{define "actor_head"}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no" />
  <meta name='color-scheme' content='dark light'>
  <title>{{.DisplayName}} (@{{.Handle}})</title>
  <meta property="og:title" content="{{.DisplayName}} (@{{.Handle}})" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/profile/{{.Handle}}" />
  <meta property="og:image" content="{{.Avatar}}" />
  <meta property="og:description" content="{{.Description}}" />
  <style>
    :root {
      color-scheme: light dark;
    }

    img {
      max-width: 100%;
    }
  </style>
</head>
{{end}}

{{define "thread_head"}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no" />
  <title>{{.Post.Author.DisplayName}}{{if .Post.Record.Text}}: "{{.Post.Record.Text}}"{{end}}</title>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/profile/{{.Post.Author.Handle}}/post/{{.Post.RKey}}" />
  <meta property="og:description" content="{{.Post.Record.Text}}" />
  <style>
    :root {
      color-scheme: light dark;
    }

    img {
      max-width: 100%;
    }
  </style>

</head>
{{end}}

{{define "list_head"}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no" />
  <title>{{.Name}}</title>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/profile/{{.Creator.Handle}}/lists/{{.RKey}}" />
  <meta property="og:description" content="{{.Description}}" />
  <style>
    :root {
      color-scheme: light dark;
    }

    img {
      max-width: 100%;
    }
  </style>

</head>
{{end}}

{{define "embed_head"}}
<!-- you can change this if you want -->

<head>
  <base href="https://htmlsky.app" target="_blank">
</head>
<style>
  header {
    display: none;
  }
</style>
{{end}}
