{{define "actor_header"}}
<header>
  <nav>
    <b><i>HTMLsky</i></b>
    [ <a href="/">Home</a> ]
    [ <a href="https://sr.ht/~jordanreger/htmlsky">Source</a> ]
    [ <a href="https://bsky.app/profile/{{.DID}}">View on Bluesky</a> ]
  </nav>
  <hr>
</header>
{{end}}

{{define "thread_header"}}
<header>
  <nav>
    <b><i>HTMLsky</i></b>
    [ <a href="/">Home</a> ]
    [ <a href="https://sr.ht/~jordanreger/htmlsky">Source</a> ]
    [ <a href="https://bsky.app/profile/{{.Post.Author.DID}}/post/{{.Post.RKey}}/">View on Bluesky</a> ]
  </nav>
  <hr>
</header>
{{end}}

{{define "list_header"}}
<header>
  <nav>
    <b><i>HTMLsky</i></b>
    [ <a href="/">Home</a> ]
    [ <a href="https://sr.ht/~jordanreger/htmlsky">Source</a> ]
    [ <a href="https://bsky.app/profile/{{.Creator.DID}}/lists/{{.RKey}}/">View on Bluesky</a> ]
  </nav>
  <hr>
</header>
{{end}}