{{define "image_embed"}}
{{if .Post.Embed}}
{{if eq .Post.Embed.Type "app.bsky.embed.recordWithMedia#view"}}
{{range .Post.Embed.Media.Images}}
<img src="{{.Thumb}}" alt="{{.Alt}}" class="recordWithMedia-view"
  style="position:relative;max-height:50%;max-width:100%;">
{{end}}
{{end}}
{{if eq .Post.Embed.Type "app.bsky.embed.images#view"}}
{{range .Post.Embed.Images}}
<img src="{{.Thumb}}" alt="{{.Alt}}" class="images-view" style="position:relative;max-height:50%;max-width:100%;">
{{end}}
{{end}}
{{end}}
{{end}}