{{define "list"}}
<!DOCTYPE html>
<html lang="en">
{{template "list_head" .}}

<body>
	{{template "list_header" .}}

	<!-- list description -->
	<article>
		<h1 style="margin-bottom:0;">{{.Name}}</h1>
		<p style="margin:auto 0;" class="handle">by <a href="/profile/{{.Creator.DID}}">@{{.Creator.Handle}}</a></p>
		<p style="white-space:pre-line">{{.DescriptionHTML}}</p>
		<hr>
	</article>

	<span id="feed"></span>
	{{range .Feed}}
	{{template "feed_post" .}}
	{{end}}
</body>

</html>
{{end}}

{{template "list" .}}