{{define "post"}}
<article>
  <table>
    <tr>
      <td>
        <img src="{{.Post.Author.Avatar}}" alt="{{.Post.Author.DisplayName}}'s avatar" width="50" height="50">
      </td>
      <td>
        <h1 style="margin:0;">{{.Post.Author.DisplayName}}</h1>
        <span><a href="/profile/{{.Post.Author.Handle}}">@{{.Post.Author.Handle}}</a></span>
      </td>
    </tr>
  </table>

  <p>{{.Post.Record.HTML}}</p>

  <!--<section>
    {{template "image_embed" .}}
    {{template "post_embed" .}}
    {{template "external_embed" .}}
  </section>-->

  <time datetime="{{.Post.Record.CreatedAt}}" class="date">
    <i>{{.Post.Record.CreatedAt.Format "Jan 02, 2006 at 15:04 UTC"}}</i>
  </time>

  <p class="counts">
    <b>{{.Post.ReplyCount}}</b> replies
    <b>{{.Post.RepostCount}}</b> reposts
    <b>{{.Post.LikeCount}}</b> likes
  </p>

  <hr>
</article>
{{end}}

{{define "post_reply"}}
<article>
  <table>
    <tr>
      <td>
        <img src="{{.Post.Author.Avatar}}" alt="{{.Post.Author.DisplayName}}'s avatar" width="40" height="40">
      </td>
      <td>
        <span>
          <b>{{.Post.Author.DisplayName}}</b>
          <a href="/profile/{{.Post.Author.Handle}}">@{{.Post.Author.Handle}}</a>
        </span>
        <br>
        [ <a href="/profile/{{.Post.Author.Handle}}/post/{{.Post.RKey}}">View</a> ]
        <time datetime="{{.Post.Record.CreatedAt}}" class="date">
          <i>{{.Post.Record.CreatedAt.Format "Jan 02, 2006 at 15:04 UTC"}}</i>
        </time>
      </td>
    </tr>
  </table>

  <p>{{.Post.Record.HTML}}</p>
  <!--<section>
    {{template "image_embed" .}}
    {{template "post_embed" .}}
    {{template "external_embed" .}}
  </section>-->

  <p class="counts">
    <b>{{.Post.ReplyCount}}</b> replies
    <b>{{.Post.RepostCount}}</b> reposts
    <b>{{.Post.LikeCount}}</b> likes
  </p>

  <hr>
</article>
{{end}}

{{define "feed_post"}}
{{template "post_reply" .}}
{{end}}